@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo, você nos encontrou!</h1>
    <p>Aqui você terá acesso a informações sobre suas animações favoritas.</p>
</div>

<div class="anime-panel">
    <div class="anime-scroll">

        <div class="anime-item">
            <img src="https://br.web.img3.acsta.net/c_310_420/pictures/22/04/18/22/43/1487268.jpg" alt="Capa Anime 1">
            <p>Spy x Family
        </div>

        <div class="anime-item">
            <img src="https://br.web.img2.acsta.net/c_310_420/pictures/19/09/18/13/46/0198270.jpg" alt="Capa Anime 2">
            <p>Kimetsu no Yaiba
        </div>

        <div class="anime-item">
            <img src="https://static.anroll.net/images/animes/capas/monster.jpg" alt="Capa Anime 2">
            <p>Monster
        </div>

        <div class="anime-item">
            <img src="https://m.media-amazon.com/images/I/81OYRZEQG7L._AC_UF1000,1000_QL80_DpWeblab_.jpg" alt="Capa Anime 3">
            <p>Solo Leaveling
        </div>
        <div class="anime-item">
            <img
                src="https://upload.wikimedia.org/wikipedia/pt/d/d2/Naruto_vol._01.jpg" alt="Capa Anime 4">
            <p>Naruto
        </div>
        <div class="anime-item">
            <img src="https://pbs.twimg.com/media/FZ0GGTmXoAEAguS?format=jpg&name=4096x4096" alt="Capa Anime 5">
            <p>Dragon Ball
        </div>
        <div class="anime-item">
            <img src="https://br.web.img3.acsta.net/pictures/14/05/28/20/47/033239.jpg" alt="Capa Anime 6">
            <p>Death Note
        </div>
        <div class="anime-item">
            <img src="https://imgsrv.crunchyroll.com/cdn-cgi/image/format=auto,fit=contain,width=480,height=720,quality=85/catalog/crunchyroll/cbb55a6382682bf71e91f685c6473c5a.jpe" alt="Capa Anime 7">
            <p>Hunter X Hunter
        </div>
        <div class="anime-item">
            <img src="https://imgsrv.crunchyroll.com/cdn-cgi/image/format=auto,fit=contain,width=480,height=720,quality=85/catalog/crunchyroll/757bae5a21039bac6ebace5de9affcd8.jpe" alt="Capa Anime 8">
            <p>One Piece
        </div>
        <div class="anime-item">
            <img src="https://imgsrv.crunchyroll.com/cdn-cgi/image/format=auto,fit=contain,width=480,height=720,quality=85/catalog/crunchyroll/e60626c56bf7437857e0caf7cbc4bf4a.jpe" alt="Capa Anime 9">
            <p>Yu Yu Hakusho
        </div>
        <div class="anime-item">
            <img src="https://imgsrv.crunchyroll.com/cdn-cgi/image/format=auto,fit=contain,width=480,height=720,quality=85/catalog/crunchyroll/7b09fbb42da3d9fa613ec1d025cf41df.jpe" alt="Capa Anime 10">
            <p>Cavaleiros do Zodíaco
        </div>
    </div>
</div>

<div class="news-section">
    <h2>Notícias e Atualizações</h2>
    <div class="news-item">
        <div class="news-title">Novo episódio de "Spy x Family" lançado!</div>
        <div class="news-content">Espiões estão cada vez mais contra a família...</div>
    </div>

    <div class="news-item">
        <div class="news-title">Anúncio de nova temporada de "Kimetsu no Yaiba"!</div>
        <div class="news-content">Muitos cortes, respiração e fogo!!!</div>
    </div>

    <div class="news-item">
        <div class="news-title">Novidades sobre o anime "Boruto"!</div>
        <div class="news-content">Tá começando a ficar bom, mas vão cancelar :/</div>
    </div>

    <div class="news-item">
        <div class="news-title">Atualização sobre "Solo Leveling"!</div>
        <div class="news-content">Saiba mais sobre a melhor adaptação de "Manhwa" da atualidade!</div>
    </div>
</div>
